<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing <%= pantry.name %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Editing <%= pantry.name %></h1>

  <form action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= pantry.name %>">

    <label for="title">Ingredients:</label>
    <input type="text" name="ingredients" id="ingredients" value="<%= pantry.ingredients %>">
    <button type="submit">Update</button>
  </form>
</body>
</html>









   
   
